@model IPagedList<PastaOrderfood.Models.Pastas>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "ProductManageIndex";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}
@section scripts{

    <script>
        //#region ajax菜單搜尋
        $(document).ready(function () {
            console.log("ready");
            $("#Search").keyup(function () {
                var SearchBy = $("#SearchBy").val();
                var SearchValue = $("#Search").val();
                var SetData = $("#DataSearching");
                SetData.html("");
                $.ajax({
                    type: "post",
                    url: "GetProductSearchData?SearchBy=" + SearchBy + "&SearchValue=" + SearchValue,
                    contentType: "html",
                    success: function (result) {
                        $("#tpg").load(location.href + " #tpg");
                        $("#pgld").load(location.href + " #pgld");
                    }
                })
            })
        })
        //#endregion
    </script>
}



<div class="container">
    <h2 class="text-center">菜單管理</h2>
    <br />

    <div class="row m-0">
        <label>搜尋</label>
    </div>
    <div class="row m-0">
        <select id="SearchBy" class="form-control">
            <option value="name">名稱</option>
            <option value="category_id">種類id</option>
        </select>

        <div>
            <input class="form-control" placeholder="請輸入欲搜尋項目" id="Search" />
        </div>
    </div>


    <br />
    <div>
        @Html.ActionLink("+種類", "ProductCategoriesIndex", "Product", null, new { @class = "btn btn-primary " })
        @*@Html.ActionLink("新增餐點", "ProductManageCreate", "Product", null, new { @class = "btn btn-primary " })*@
        <!-- #region popup 新增餐點 -->
        <!-- #region popup 新增餐點 -->
        <a href="#" class="btn btn-primary giveId"  data-toggle="modal" data-target="#popup">+新增</a>
        <div class="modal fade" id="popup">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary"><p class="text-light h4 ">變更種類</p></div>
                    @using (Html.BeginForm("ProductManageCreate", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        名稱 : <input placeholder="請輸入餐點名稱" type="text" name="name" value="" required>
                    </div>
                    <div class="form-group">
                        價錢 : <input placeholder="請輸入餐點價錢" type="text" name="price" value="" oninput="value=value.replace(/[^\d]/g,'')" required>
                    </div>
                    <div>
                        種類 : @Html.DropDownList("categories_id", (IEnumerable<SelectListItem>)ViewBag.SelectList)
                    </div>
                    <div class="form-group">
                        數量 : <input placeholder="請輸入數量" type="text" name="quantity" value="" oninput="value=value.replace(/[^\d]/g,'')" required>
                    </div>
                    <div class="form-group">
                        餐點說明 : <input placeholder="請輸入餐點說明" type="text" name="detail" value="" required>
                    </div>
                    <div class="form-group">
                        排序 : <input placeholder="請輸入排序順位" type="text" name="sort" value="" oninput="value=value.replace(/[^\d]/g,'')" required>
                    </div>
                    <div class="col-md-10 centerblock">
                        <input type="file" name="ImageFile" required>
                    </div>
                </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="新增" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #endregion -->


    </div>
    <br />
    <div id="tpg">
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().pasta_name)
                    </th>
                    <th>
                        種類
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().pasta_price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().pasta_quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().pasta_img)
                    </th>

                </tr>
            </thead>
            <tbody id="DataSearching">
                @foreach (var Item in Model)
                {
                    <tr>
                        <td>@Item.pasta_name</td>
                        <td>@Item.Categories.category_name</td>
                        <td>@Item.pasta_price</td>
                        <td>@Item.pasta_quantity</td>
                        <td><img src="@Item.pasta_img" width="50" height="50" multiple /></td>

                        <td>
                            @Html.ActionLink("編輯", "ProductManageEdit", new
                            {
                                rowid = Item.rowid
                                }, new { @class = "btn btn-info" })
                            @Html.ActionLink("刪除", "ProductManageDelete", new { rowid = Item.rowid }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="align-content-center" id="pgld">@Html.PagedListPager(Model, page => Url.Action("ProductManageIndex", new { page }))</div>


</div>

