@model PastaOrderfood.Models.Pastas

@{
    ViewBag.Title = "ProductManageCreate";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}

<div class="text-center">

    @using (Html.BeginForm("ProductManageCreate", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>新增餐點</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.pasta_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 centerblock">
                    @Html.EditorFor(model => model.pasta_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pasta_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p>種類</p>
                <div class="col-md-10 centerblock">
                    @Html.DropDownList("categories_id", (IEnumerable<SelectListItem>)ViewBag.SelectList)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pasta_quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 centerblock">
                    @Html.EditorFor(model => model.pasta_quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pasta_quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pasta_detail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 centerblock">
                    @Html.EditorFor(model => model.pasta_detail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pasta_detail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pasta_price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 centerblock">
                    @Html.EditorFor(model => model.pasta_price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pasta_price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pasta_img, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 centerblock">
                    <input type="file" name="ImageFile" required>
                </div>
                @*<div class="col-md-10">
                        @Html.EditorFor(model => model.pasta_img, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pasta_img, "", new { @class = "text-danger" })
                    </div>*@
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 centerblock">
                    <input type="submit" value="儲存" class="btn btn-primary" />
                    @Html.ActionLink("返回", "ProductManageIndex", "Product", new { @class="btn btn-danger"})
                </div>
            </div>
        </div>
    }

</div>


