@using PastaOrderfood.Account;
@using PastaOrderfood.App_Class;
@{

}

<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Shortcut Icon" type="image/x-icon" href="~/bg/bkicon.png" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("css", required: false)
    @RenderSection("scripts", required: false)
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        /* Fixed sidenav, full height */
        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

            /* Style the sidenav links and the dropdown button */
            .sidenav a, .dropdown-btn {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
                border: none;
                background: none;
                width: 100%;
                text-align: left;
                cursor: pointer;
                outline: none;
            }

                /* On mouse-over */
                .sidenav a:hover, .dropdown-btn:hover {
                    color: #f1f1f1;
                }

        /* Main content */
        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
            font-size: 20px; /* Increased text to enable scrolling */
            padding: 0px 10px;
        }

        /* Add an active class to the active dropdown button */
        .active {
            background-color: goldenrod;
            color: white;
        }

        /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
        .dropdown-container {
            display: none;
            background-color: #262626;
            padding-left: 8px;
        }

        /* Optional: Style the caret down icon */
        .fa-caret-down {
            float: right;
            padding-right: 8px;
        }

        /* Some media queries for responsiveness */
        @@media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

                .sidenav a {
                    font-size: 18px;
                }
        }
        /*置中*/
        .centerblock {
            width: 275px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <script>
        $(document).ready(function () {
            var t =@backSetting.NavOn;
            $("#d").hide();
            $(".main").css("margin-left", 0);

            $("#hide").click(function () {
                if (t == 0) {
                    console.log("bye");
                    $("#d").fadeOut();
                    $(".main").css("margin-left", 0);
                    t = 1;
                }
                else {
                    console.log("hi");
                    $("#d").fadeIn();
                    $(".main").css("margin-left", 200);
                    t = 0;
                }
            });
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }
        });
    </script>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

</head>
<body class="p-0 main">
    <div class="navbar navbar-expand-lg navbar-light bg-light  ">
        <a class="navbar-brand"><span id="hide" style="font-size:30px;cursor:pointer">&#9776; </span></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">

                <a href="#" class="nav-link">
                    <a class="pl-2">訊息</a>
                    <i class="fa fa-user fa-lg text-info"></i> @UserAccount.UserName<b class="caret"></b>
                </a>
            </li>

        </ul>


    </div>

    @RenderBody()

<div class="sidenav" id="d">
    <button class="dropdown-btn">
        <i class="fa fa-caret-down"></i>
        會員管理
    </button>
    <div class="dropdown-container">
        @Html.ActionLink("會員管理", "UserManageIndex", "Manage", null, new { @class = "btn btn-primary" })
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-caret-down"></i>
        菜單管理
    </button>
    <div class="dropdown-container">
        @Html.ActionLink("菜單管理", "ProductManageIndex", "Product", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("種類", "ProductCategoriesIndex", "Product", null, new { @class = "btn btn-primary " })
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-caret-down"></i>
        訂單管理
    </button>
    <div class="dropdown-container">
        @Html.ActionLink("訂單管理", "OrderIndex", "Order", null, new { @class = "btn btn-primary" })

    </div>

    <button class="dropdown-btn">
        <i class="fa fa-caret-down"></i>
        首頁設定
    </button>
    <div class="dropdown-container">
        <a class="btn btn-primary">輪播</a>
        <a class="btn btn-primary">關於我們</a>

    </div>

</div>


</body>
</html>
