@model IPagedList<PastaOrderfood.Models.Order>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "OrderIndex";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}
@section scripts{

    <script>
        $(document).ready(function () {
            console.log("ready");
            //#region ajax訂單搜尋
            $("#Search").keyup(function () {
                var SearchBy = $("#SearchBy").val();
                var SearchValue = $("#Search").val();
                var SetData = $("#DataSearching");
                SetData.html("");
                $.ajax({
                    type: "post",
                    url: "GetOrderSearchData?SearchBy=" + SearchBy + "&SearchValue=" + SearchValue,
                    contentType: "html",
                    success: function (result) {
                        //刷新單區塊
                        $("#tpg").load(location.href + " #tpg");
                        $("#pgld").load(location.href + " #pgld", function () {
                            //重新綁定click
                            $(".giveId").on("click", function () {
                                console.log("giveId");
                                $(".needId").attr("value", $(this).attr("id"));
                            });

                        });

                    }
                })
            })
            //#endregion


        })
        $(document).ready(function () {
            //綁定 click
            $(".giveId").on("click", function () {
                console.log("giveId");
                $(".needId").attr("value", $(this).attr("id"));
            });
        })


    </script>
}


<div class="container">
    <h2 class="">訂單管理</h2>
    <br />


    <div class="row m-0 p-0">
        <h5 class="m-0 pt-2">Search&nbsp;&nbsp;</h5>
        <select id="SearchBy" class="form-control">
            <option value="id">訂單ID</option>
            <option value="status">訂單狀態</option>
            <option value="phone">電話</option>
            <option value="email">Email</option>
            <option value="isLogin">是否登入</option>
        </select>
        &nbsp;&nbsp;
        <div>
            <input class="form-control" placeholder="請輸入欲搜尋項目" id="Search" />
        </div>
        
    </div>

    <br />
    <br />
    <table class="table table-striped" id="tpg">
        <thead>
            <tr>
                <th>
                    訂單編號
                </th>
                <th>
                    方式
                </th>
                <th>
                    訂餐時間
                </th>
                <th>
                    訂單狀態
                </th>
                <th>
                    付款方式
                </th>
                <th>
                    總價
                </th>
                <th>
                    option
                </th>
            </tr>
        </thead>
        <tbody id="DataSearching">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_fn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_payFn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_total)
                    </td>
                    <td>
                        @*@Html.ActionLink("編輯", "OrderEdit", new { id = item.order_id }, new { @class = "btn btn-info" })*@

                        <!-- #region popup 改變狀態 -->
                        <a href="#" class="btn btn-primary giveId" id="@item.order_id" data-toggle="modal" data-target="#popup">狀態</a>
                        <div class="modal fade" id="popup">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary"><p class="text-light h4 ">變更狀態</p></div>
                                    @using (Html.BeginForm("OrderStatusEdit", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="modal-body">
                                            <div class="form-group">
                                                訂單編號:<input class="needId" type="text" name="id" value="" readonly="readonly" style="border-style:none">
                                            </div>
                                            <span>
                                                狀態:
                                            </span>
                                            @Html.DropDownList("status", (IEnumerable<SelectListItem>)ViewBag.SelectList)

                                        </div>
                                        <div class="modal-footer">
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="更改" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- #endregion -->

                        @Html.ActionLink("刪除", "OrderDelete", new { id = item.order_id }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("明細", "OrderDetailIndex", new { id = item.order_id }, new { @class = "btn btn-light" })
                    </td>
                </tr>



            }
        </tbody>

    </table>






    <div class="align-content-center" id="pgld">@Html.PagedListPager(Model, page => Url.Action("OrderIndex", new { page }))</div>


</div>